<div class="container-fluid">
    <div class="marginTop contenedor col-xxl-6 col-sm-8">
        <h1 class="textCenter">Información</h1>
        <h5>- Argumentos de Entrada:</h5>
        <p class="boldFont">--port: {{argumentos.p}}</p>
        <h5>- Sistema Operativo:</h5>
        <p class="boldFont">{{SO}}</p>
        <h5>- Version de Node Js:</h5>
        <p class="boldFont">{{versionNode}}</p>
        <h5>- Memoria Total Reservada:</h5>
        <p class="boldFont">{{memory}} MB</p>
        <h5>- Process ID:</h5>
        <p class="boldFont">{{idProcess}}</p>
        <h5>- Carpeta del Proyecto:</h5>
        <p class="boldFont">{{directorio}}</p>
    </div>
</div>